<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compati7ble" content="ie=edge">
    <link rel="stylesheet" href="css/estilos.css">

    <title>Proyectos</title>
</head>

<body>

    <div class="titulo">

        <h1>Inicio</h1>


    </div>

    <div class="links">
        <a id="inicioBtn" href="/">Inicio</a>
        <a id="proyectos" href="/proyectos">proyectos</a>
        <a id="contacto" href="/contacto">Contacto</a>



    </div>


    <script src="js/contador.js"></script>

</body>

</html>